
 aside nav {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     padding: 0px;
     gap: 15px;
     width: 232px;
     height: 229px;
 }

 aside:first-child {
     position: absolute;
     left: 28.44%;
     right: 28.44%;
     top: 6.45%;
     bottom: 81.64%;
 }

 .icon-1 {
     margin-right: 20px;
     height: 22px;
     width: 22px;
 }

 .icon-2 {
     margin-right: 20px;
     height: 22px;
     width: 26px;
 }

 .icon-3 {
     margin-right: 20px;
     height: 26px;
     width: 26px;
 }

 .icon-4 {
     margin-right: 20px;
     height: 22px;
     width: 19.5px;
 }

 aside nav a {
     display: flex;
     justify-content: start;
     align-items: center;
     padding: 8px 53px;
     width: 232px;
     height: 46px;
     text-decoration: none;
     color: var(--aside-font-color);
 }

 aside nav a:hover {
     background-color: var(--main-dark-contrast);
 }

 .notice {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: flex-start;
     padding: 137px 0px 0px;
     gap: 15px;
     width: 160px;
     height: 289px;
 }

 .impressum {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 8px;
     gap: 20px;
     width: 160px;
     height: 46px;
 }