:root {

    /* Main Colors */

    --aside-font-color: #cdcdcd;
    --field-required: #ff8190;
    --field-wrong-msg: #ff001f;
    --main-bg-color: #f6f7f8;
    --main-black: #000000;
    --main-blue: #42abe2;
    --main-dark-contrast: #091931;
    --main-dark: #2A3647;
    --main-gray: #d5d5d5;
    --main-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    --main-white: #ffffff;
    --prio-low: #7ae229;
    --prio-medium: #ffa800;
    --prio-urgent: #ff3d00;
    --sub-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    --task-blue: #29abe2;

    --label-1: #0190e0;
    --label-2: #02cf3f;
    --label-3: #ee00d6;
    --label-4: #f4f4f4;
    --label-5: #ff7a00;
    --label-6: #1fd7c1;
    --label-7: #9327ff;
    --label-8: #4e963d;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    display: flex;
    font-family: 'Inter', 'Courier New', Courier, monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    position: relative;
}

header {
    background-color: var(--main-white);
    box-shadow: var(--main-shadow);
    height: 90px;
    position: absolute;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.headerlogo {
    display: none;
}

textarea,
input {
    font-family: 'Inter', 'Courier New', Courier, monospace;
    font-size: 16px;
}

.header-nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin-left: 350px;
    margin-right: 30px;
}

.header-nav>span {
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
}

.header-nav-user-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 26px;
}

.user-avatar-header {
    border-radius: 100%;
    border: 3px solid var(--main-dark-contrast);
    height: 50px;
    object-fit: cover;
    padding: 1px;
    width: 50px;
}

.name-circle {
    align-items: center;
    background-color: lightseagreen;
    border-radius: 100%;
    border: 2px solid var(--main-white);
    display: flex;
    height: 50px;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
    width: 50px;
}

.name-circle-letter {
    color: var(--main-white);
}

.name-circle-header {
    align-items: center;
    background-color: var(--main-dark);
    border-radius: 100%;
    border: 3px solid var(--main-blue);
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;
}

.name-circle-header {
    color: var(--main-white);
}

.logout-btn {
    align-items: center;
    background-color: var(--main-dark);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    color: var(--main-gray);
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    position: absolute;
    right: 30px;
    width: 120px;
    display: flex;
    flex-direction: column;
}

.logout-btn:hover span {
    font-weight: bold;
}

.toggle-logout-btn {
    display: none;
}

.logout-mobile {
    display: none;
}

.help-logout-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

aside {
    align-items: center;
    background-color: var(--main-dark);
    box-shadow: var(--sub-shadow);
    color: var(--aside-font-color);
    display: flex;
    flex-direction: column;
    gap: 103px;
    height: 100vh;
    justify-content: space-between;
    padding: 66px 20px;
    position: fixed !important;
    width: 232px;
    z-index: 10;
}

main {
    height: calc(100vh - 90px);
    left: 232px;
    position: relative;
    top: 90px;
    width: calc(100vh - 310px);
}

.main-container {
    height: calc(100% - 80px);
    margin-left: 80px;
    margin-top: 80px;
    width: 100%;
}

.content-container {
    margin-right: 124px;
    max-width: 500px;
}

.content-title {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
}


.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-button {
    background-color: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    height: 16px;
    width: 1rem;
}

.scroll::-webkit-scrollbar-button:end:increment {
    background-image: url("./img/icon-arrow-down-scroll.svg");
}

.scroll::-webkit-scrollbar-button:start:decrement {
    background-image: url("./img/icon-arrow-up-scroll.svg")
}



#arrow-left-content {
    height: 37px;
    width: 37px;
}

.datenschutz-content {
    padding-bottom: 5rem;
}

#clearButton {
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--main-dark);
    color: var(--main-dark);
    display: flex;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    font-weight: 700;
    gap: 10px;
    height: 61px;
    justify-content: center;
    padding: 18px 10px;
    width: 130px;
}

#clearButton:hover {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 225ms;
}

#createButton {
    align-items: center;
    background-color: var(--main-dark);
    border-radius: 10px;
    border: 1px solid var(--main-dark);
    color: var(--main-white);
    display: flex;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    gap: 10px;
    height: 61px;
    justify-content: center;
    margin-left: 30px;
    padding: 18px 10px;
}

#createButton:hover {
    background-color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 225ms;
}

.currentnav {
    background-color: var(--main-dark);
    color: var(--main-white);
}

.messageContainer {
    bottom: 0px;
    display: none;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: all 1s;
    width: 100%;
    z-index: 9;
}

.help-container {
    width: 90%;
}

.showMessage {
    bottom: 100px;
    opacity: 100;
    transition: all 1s;
}

@media(max-width:850px) {
    .help-icon {
        display: none;
    }

    .header-nav {
        margin-left: 320px;
            
        
    }
}

@media(max-width:750px) {
    header {
        height: 80px;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 30;
    }

    h1 {
        font-size: 47px;
        line-height: 112%;
    }

    .headerlogo {
        display: flex;
        height: 39.02px;
        width: 32px;
    }

    .header-nav {
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding-left: 25px;
        padding-right: 25px;
        width: 100vw;
    }

    main {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100% - 160px);
        margin-top: 80px;
        padding-left: 0px !important;
        padding: 0;
        position: unset;
        width: 100%;
    }

    aside {
        bottom: 0;
        flex-direction: row;
        height: 80px;
        left: 0;
        padding: 0;
        right: 0;
        width: 100vw;
    }

    aside nav a {
        align-items: center !important;
        display: flex;
        flex-direction: column;
        height: 100% !important;
        justify-content: center !important;
        padding: 8px !important;
        width: unset;
    }

    aside nav a img {
        margin: 0 !important;
    }

    aside nav {
        align-items: center !important;
        flex-direction: row !important;
        gap: 0 !important;
        height: 100% !important;
        justify-content: space-around !important;
        padding: 0px !important;
        width: 100% !important;

    }

    .notice {
        display: none !important;
    }

    .display-none {
        display: none !important;
    }

    .asidelogo {
        display: none !important;
    }

    .icon-4 {
        height: 28px !important;
        width: 24px !important;
    }

    .logout-btn {
        height: 100px;
        line-height: 1.5rem;
        align-items: flex-start;
        justify-content: space-evenly;
        padding-left: 16px;

    }

    .logout-mobile {
        display: flex;
    }
}