.content {
    display: flex;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 35px;
    min-width: 230px;
    height: 30px;
}

h2 {
    font-weight: 700;
    font-size: 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 19px;
    gap: 10px;
    width: 250px;
    height: 239px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.todo,
.inprogress,
.awaitingfeedback,
.done {
    width: 25%;
}

main {
    width: calc(100%-232px);
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 25px;
    gap: 10px;
    width: 103px;
    height: 27px;
    background: #FF7A00;
    border-radius: 8px;
}

.cardcontent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 207px;
    height: 67px;
    border-radius: 10px;
}

h3 {
    width: 137px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #2A3647;
}

span {
    width: 207px;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.progressbardiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 209px;
    height: 14px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.progressbar{
    width: 138px;
    height: 8px;
    
    background: #F4F4F4;
    border-radius: 2px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.progressbardiv span{
    width: 51px;
height: 14px;

/* Version 2/t7 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 120%;
/* or 14px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.cardfooter{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 83px;

width: 207px;
height: 35px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
}

.userbox{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 93px;
height: 35px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.user{

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 8px;
gap: 10px;

width: 35px;
height: 35px;

background: #0190E0;
/* white */
border: 1px solid #FFFFFF;
border-radius: 58px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px -6px;
}

.cardfooter svg{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 18px;
gap: 10px;

width: 32px;
height: 32px;

/* white */
background: #FFFFFF;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}