.main-container {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
}

.contact-container {
    /* background-color: #fff; */
    height: 100%;
}

.contact-container-left {
    display: flex;
    position: fixed;
    left: 243px;
    justify-content: center;
    position: fixed;
    background-color: var(--main-white);
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    height: 100%;
    width: 453px;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 357px;
    height: 100%;
    /* background-color: rgba(1, 189, 218, 0.2) */
}

.contact-letter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 282px;
    height: 60px;
    font-size: 21px;
    line-height: 25.2px;
    padding-left: 37px;
    padding-right: 37px;
}

.divider {
    border-top: 1px solid #D1D1D1;
    border-radius: 3px;
    width: 300px;
    height: 0px;
}

.contact-names {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    width: 100%;
    height: 80px;
}

.name-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: 25px;
    margin-right: 25px;
    background-color: lightseagreen;
}

.name-circle-letter {
    color: var(--main-white);
}

.name-fullname {
    display: flex;
    flex-direction: column;
}