/* Basics */

h1 {
    margin-left: 100px;
}


/* Form */


input, .descriptionTextArea {
    width: 422px;
    padding: 13px 21px 13px 21px;
    border-style: none;
    border: 1px solid #D1D1D1;
    outline: none;
}


input {
    height: 38px;
    border-radius: 5px;
}

.inputWithIcon {
    width: 392px;
    border-right: unset;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.inputIcon {
    display: flex;
    align-items: center;
    width: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    border-right: 1px solid #D1D1D1;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
}

.inputIcon:hover {
    cursor: pointer;
}

.descriptionTextArea {
    border-radius: 5px;
    height: 119px;
}


#addTaskFormContainer {
    margin-left: 100px;
    margin-right: 100px;

}

.addTaskForm {
    display: flex;
}

label {
    margin-bottom: 8px;
}

.leftArea {
    padding-right: 59px;

}

.rightArea {
    padding-left: 59px;

}

.inputContainer {
    display: flex;
}   

.dateInput img {
    height: 17px;
    padding-right: 10px;
}

.subtaskInput img {
    height: 10.49px;
    padding-right: 10px;
}

.prioButtons {
    display: flex;
}

.prioButtons>button {
    font-size: 21px;
    border-style: none;
    border-color: #D1D1D1;
    background-color: var(--main-white);
    border-radius: 10px;
    height: 51px;
    width: 130px;
    padding: 0px 0px 0px 0px;
}

#prioMediumButton {
    margin-left: 10px;
    margin-right: 10px;
}

#prioUrgentButton > img {
    fill: #FF3D00;
}

.prioButtons>button:hover {
    cursor: pointer;
    border-radius: 10px;
}